In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
import os 
import sys

In [2]:
import numpy as np
import pandas as pd

In [3]:
import matplotlib.pyplot as plt 
%matplotlib inline

In [ ]:
#!wget https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/adult.data.csv -O ../../data/mlcourse.ai/adult.data.csv

In [4]:
data = pd.read_csv('../../data/mlcourse.ai/adult.data.csv')

In [9]:
{i[0]: i[1] for i in enumerate(data.columns)}

{0: 'age',
 1: 'workclass',
 2: 'fnlwgt',
 3: 'education',
 4: 'education-num',
 5: 'marital-status',
 6: 'occupation',
 7: 'relationship',
 8: 'race',
 9: 'sex',
 10: 'capital-gain',
 11: 'capital-loss',
 12: 'hours-per-week',
 13: 'native-country',
 14: 'salary'}

问题：数据集中有多少男性和女性？

In [10]:
data[data['sex']== "Male"].shape[0]
data[data['sex']== "Female"].shape[0]

21790

10771

问题：数据集中女性的平均年龄是多少？

In [11]:
data[data['sex']== "Female"]['age'].mean()

36.85823043357163

问题：数据集中德国公民的比例是多少？

In [12]:
data[data['native-country'] == "Germany"].shape[0]/data.shape[0]

0.004207487485028101

In [13]:
data['native-country'].drop_duplicates();

问题：年收入超过 50K 和低于 50K 人群年龄的平均值和标准差是多少？

In [14]:
data[data['salary'] == '<=50K']['age'].mean()
data[data['salary'] == '<=50K']['age'].std()
data[data['salary'] == '>50K']['age'].mean()
data[data['salary'] == '>50K']['age'].std()

36.78373786407767

14.020088490824813

44.24984058155847

10.51902771985177

问题：年收入超过 50K 的人群是否都接受过高中以上教育？

In [15]:
data[data['salary'] == '>50K']["education"].drop_duplicates()

7            HS-grad
8            Masters
9          Bachelors
10      Some-college
14         Assoc-voc
20         Doctorate
52       Prof-school
127       Assoc-acdm
183          7th-8th
415             12th
588             10th
729             11th
2003             9th
2159         5th-6th
2817         1st-4th
Name: education, dtype: object

In [ ]:
data[data['salary'] == '>50K']["education"].drop_duplicates().count()

问题：使用 groupby 和 describe 统计不同种族和性别人群的年龄分布数据。

In [ ]:
data['race'].drop_duplicates()

In [16]:
data.groupby('race')['age'].describe()
data.groupby('sex')['age'].describe()

,count,mean,std,min,25%,50%,75%,max
race,,,,,,,,
Amer-Indian-Eskimo,311.0,37.173633,12.447130,17.0,28.0,35.0,45.5,82.0
Asian-Pac-Islander,1039.0,37.746872,12.825133,17.0,28.0,36.0,45.0,90.0
Black,3124.0,37.767926,12.759290,17.0,28.0,36.0,46.0,90.0
Other,271.0,33.457565,11.538865,17.0,25.0,31.0,41.0,77.0
White,27816.0,38.769881,13.782306,17.0,28.0,37.0,48.0,90.0

          count       mean        std   min   25%   50%   75%   max
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0

问题：统计男性高收入人群中已婚和未婚（包含离婚和分居）人群各自所占数量。

In [17]:
data[(data['sex'] == "Male")
     & (data['salary'] == ">50K")]['marital-status'].drop_duplicates()

7           Married-civ-spouse
53                    Divorced
215              Never-married
645                  Separated
825                    Widowed
1975     Married-spouse-absent
11918        Married-AF-spouse
Name: marital-status, dtype: object

In [20]:
tem = data[(data['sex'] == "Male") & (data['salary'] == ">50K")]
tem[tem["marital-status"] == "Married-civ-spouse"].shape[0]/data.shape[0]
tem[(tem["marital-status"] == "Divorcede") |
    (tem["marital-status"] == "Separated") |
    (tem["marital-status"] == "Never-married")].shape[0]/data.shape[0]

0.1823654064678603

0.011486133718251896

问题：统计数据集中最长周工作小时数及对应的人数，并计算该群体中收入超过 50K 的比例。

In [21]:
data['hours-per-week'].max()

99

In [26]:
tem = data[data["hours-per-week"] == data['hours-per-week'].max()]
tem[tem['salary'] == ">50K"].shape[0]/data.shape[0]

0.0007677896870489236