In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
import re
import random
import calendar
import time 
from datetime import datetime, timedelta

Check up 
https://stackoverflow.com/users/2901002/jezrael

#  DataFrame

<span style="font-family: New York Times; font-size: 1em; color: green;">
    
The most important part of the Pandas library is the DataFrame. A DataFrame holds the type of data you might think of as a table. This is similar to a sheet in Excel, or a table in a SQL database. 

Want to know the basic usage look like this?

* [pandas source](https://github.com/pandas-dev/pandas)
* [19 Essential Snippets in Pandas](https://jeffdelaney.me/blog/useful-snippets-in-pandas/)
* https://towardsdatascience.com/pandas-dataframe-a-lightweight-intro-680e3a212b96

## Data for `DataFrame`

In [ ]:
tupList = [[('commentID', 'commentText', 'date'), ('123456', 'blahblahblah', '2019')], [('45678', 'hello world', '2018'), ('0', 'text', '2017')]]
pd.DataFrame(sum(tupList,[]))

In [ ]:
data = {'Tom':['1','1','1','1','1','0','0'],
        'John':['1','1','1','1','1','0','0'],
        'Harry':['1','1','1','1','1','0','0'],
        'Bob':['1','1','1','1','1','0','0']}

df1 = pd.DataFrame.from_dict(data, orient='index',
                        columns=['Day 1','Day 2','Day 3','Day 4','Day 5','Day 6','Day 7',])

print(df1)


data2 = {'Name':['Tom','Harry'], 'Day':['Day 7','Day 6']}
df2 = pd.DataFrame.from_dict(data2)
print(df2)

## count row numbers

In [ ]:
df  = pd.DataFrame({'Lat': [20, 30], 'Lon':[20,10]})
[{'lat': df.loc[i, 'Lat'], 'lon' : df.loc[i, 'Lon']} for i in range(df.shape[0])]

In [ ]:
data = zip(df['Lat'].tolist(), df['Lon'].tolist())
[{'lat': a, 'lon': b} for a, b in data]

## Add new columns to existed DataFrame

In [ ]:
df = pd.DataFrame({"column_1": [1] , "column_2": [2] , "column_3": [3] })
A = 1
B = "c_10"
df.insert(0,'A',A)
df.insert(1,'B',B)
print(df.to_string(index= False))

## Search a column

In [ ]:
df = pd.DataFrame({
    'customerId' : ['A', 'A', 'A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B', 'B','B', 'B', 'B'],
    'startOf15Min' : ['2019-07-30T00:00:00', '2019-07-30T00:15:00',
       '2019-07-30T07:00:00', '2019-07-30T07:15:00',
       '2019-07-30T07:30:00', '2019-07-30T07:45:00',
       '2019-07-30T08:00:00', '2019-07-30T00:00:00',
       '2019-07-30T00:15:00', '2019-07-30T06:30:00',
       '2019-07-30T06:45:00', '2019-07-30T07:00:00',
       '2019-07-30T07:15:00', '2019-07-30T07:30:00',
       '2019-07-30T07:45:00', '2019-07-30T08:00:00']
}, columns=['customerId', 'startOf15Min'])
df

## Pandas find missing 15 minutes intervals
https://stackoverflow.com/questions/57267868/pandas-find-missing-15-minutes-intervals

In [ ]:
df = pd.DataFrame({
    'customerId' : ['A', 'A', 'A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B', 'B','B', 'B', 'B'],
    'startOf15Min' : ['2019-07-30T00:00:00', '2019-07-30T00:15:00',
       '2019-07-30T07:00:00', '2019-07-30T07:15:00',
       '2019-07-30T07:30:00', '2019-07-30T07:45:00',
       '2019-07-30T08:00:00', '2019-07-30T00:00:00',
       '2019-07-30T00:15:00', '2019-07-30T06:30:00',
       '2019-07-30T06:45:00', '2019-07-30T07:00:00',
       '2019-07-30T07:15:00', '2019-07-30T07:30:00',
       '2019-07-30T07:45:00', '2019-07-30T08:00:00']
}, columns=['customerId', 'startOf15Min'])

df.startOf15Min = pd.to_datetime(df.startOf15Min)

intv = pd.date_range('2019-07-30 06:00:00','2019-07-30 09:00:00', freq='15Min', closed='left')
df.startOf15Min = pd.to_datetime(df.startOf15Min)
missing = df.groupby('customerId')['startOf15Min'].apply(lambda x: [i for i in intv if i not in x])

print(missing[0])

https://stackoverflow.com/questions/57549162/filling-in-missing-hours-in-a-pandas-dataframe

## Select rows

* https://stackoverflow.com/questions/57533004/how-to-drop-all-rows-in-pandas-dataframe-with-negative-values/57533045?noredirect=1#comment101531645_57533045

In [ ]:
dict0 = {
    "country":
    ["Brazil", "Russia", "India", "China", "South Africa", "South Africa"],
    "capital":
    ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria", "Pretoria"],
    "area": [8.516, 171.10, 3.286, 9.597, 1.221, 1.221],
    "population": [200.4, 143.5, 1252, 1357, 52.98, 52.98]
}

df = pd.DataFrame(dict0)

In [ ]:
df = pd.DataFrame({
    'col1': [1, 2, 3, 4],
    'col2': [-1, -2, 3, 4],
    'col3': ['a', 'b', 'c', 'd'],
    'col4': [1, 2, 3, 4]
})
df[df.select_dtypes(include=[np.number]).ge(0).all(1)]

## Iterate row

https://stackoverflow.com/questions/57588176/creating-new-list-names-during-iteration-to-append-elements/57588483#57588483

In [ ]:
df = pd.DataFrame({"R1": [8,2,3], "R2": [-21,-24,4], "R3": [-9,46,6]})
df.apply(lambda row: row[:])
# desired Output
list1 = df.values[0].tolist()
print(list1)
list2 = df.values[1].tolist()
print(list2)
list3 = df.values[2].tolist()
print(list3)
#df.loc[1].values.tolist()
for i in range(3):
    print('list{} = {}'.format(i, df.loc[i].values.tolist()))

## Drop duplicated rows 
* https://stackoverflow.com/questions/57107125/remove-duplicates-from-python-dataframe-list#57107125

In [ ]:
df.query('country=="South Africa"' and 'population == 52.98' ).index
df.index[df.country=="South Africa"]

In [ ]:
'country' in list(dict0.keys())
'country' in []

In [ ]:
df.loc[:,'country']
df['country']
df.iloc[-5:]
df.iloc[[1,2]]
df.iloc[1,2]

In [ ]:
random.sample(list(df.index.values), 3)[-2:]
df.index.values

In [ ]:
np.random.seed(0)
df = pd.DataFrame(np.random.randint(10, size=(1000, 2)))
df.columns = ['x', 'y']
indices = np.random.choice(df.index[-50:], size=5, replace=False)
indices
result = df.iloc[indices]
print(result)

In [ ]:
import random
def randomly_generated_dataframe( df1, n1, n2): 
    selected_indices = random.sample(list(df.index.values), n1)[-n2:]
    return df1.iloc[selected_indices]

randomly_generated_dataframe( df1, 5, 50)

* https://stackoverflow.com/questions/57121550/finding-the-best-match-for-similar-texts-and-keeping-only-unique-values

```md
      Project Name  
552   Hilton International
553   Hilton International A
```

In [ ]:
dict0 = {'datacenter': 'DC1', 'output': b"[{'Device': 'device01', 'Port': 'Ge0/0/5', 'Provider': 'L3', 'ID': 3324114459135, 'Remote': 'ISP Circuit', 'Destination Port': 'ISP Port'}, {'Device': 'device02', 'Port': 'Ge0/0/5', 'Provider': 'L3', 'ID': 334555114459135, 'Remote': 'ISP Circuit', 'Destination Port': 'ISP Port'}]\n"}
df = pd.DataFrame(dict0, index=[0])
df['output'][0]

In [ ]:
xticks = ['' for _ in range(22)]
#xticks=np.full(length_x,'',dtype=str).dtype
#xticks=np.full(length_x,'',dtype=str)
xticks
major_ticks = np.linspace(-10, 10, 5, dtype=int)
#major_ticks = np.arange(-10,15, 5)
print(major_ticks)  #returns [-10  -5   0   5  10]

i = 0
for j in range(len(xticks)):
    if j % 5 == 0:
        str(major_ticks[i])
        xticks[j]
        xticks[j] = str(major_ticks[i])
        xticks[j]
        i += 1
xticks

## Merge 2 DF

In [ ]:
df1= {'id' : [1,1,1,3,5,6,7,8,9,10], 'name' : ['a','a','a','c','e','f','g','h','i','j']}
df2 = {'id' : [1,2,3,4,5,6,7,8,9,10], 'age' : [21,11,45,11,56,22,26,26,17,32], 'gender' : ['M','M','f','f','M','f','M','M','f','M']}}
df1 = pd.DataFrame(df1)
df1.set_index('id', inplace = True)
df2 = pd.DataFrame(df2)
df2.set_index('id', inplace = True)
df1['gender'] = df2['gender']
#df1.merge(df2, left_index=True, right_index=True)

In [ ]:
dict0 = {'CO2': {'GWP': 1.0, 'B_index': [23, 92, 93, 427, 437, 438]}, 'CH4': {'GWP': 28.0, 'B_index': [24, 67, 68, 69, 70, 71, 72, 73, 74, 426, 435]}, 'N2O': {'GWP': 265.0, 'B_index': [25, 429]}}
df = pd.DataFrame(dict0)
print(df.loc['B_index'])
print(df.loc['B_index', "CO2"])
print(df.loc['B_index', "CH4"])
print(df.loc['B_index', "N2O"])

In [ ]:
df.iloc[-1][1]
df.iloc[0][1] 
df.loc["GWP":, ]

In [ ]:
dict1 = {
    "Column1": [
        "A1-19", "B2-52", "C3-1245¯main_123456789", "D4", "Z89028",
        "F7¯main_123456789"
    ]
}
df1 = pd.DataFrame(dict1)
df1

In [ ]:
re.compile(r'')

In [ ]:
df1["New"]=df1['Column1'].str.split('¯main_').str[0]
df1

In [ ]:
'C3-1245¯main_123456789'.split("¯main_")
'Z89028'.split("¯main_")

In [ ]:
m = ['x', 'y', 'z', 'a', 'b', 'c']
m = np.array(m)
print(type(m))

https://stackoverflow.com/questions/57687415/merge-two-dataframe-columns

In [ ]:
np.random.seed(0)
left = pd.DataFrame({'key': ['A', 'B', 'C', 'D'], 'value': np.random.randn(4)})    
right = pd.DataFrame({'key': ['B', 'D', 'E', 'F'], 'value': np.random.randn(4)})
pd.merge(left, right, on='key')

## `df.melt`
https://stackoverflow.com/questions/57415175/transforming-rows-to-column-in-pandas-dataframe

# Add a column and based on conditions
* https://stackoverflow.com/questions/57129328/for-loop-based-on-two-filtered-columns

In [ ]:
a = 1 
b = 0
if a ==b==0 or a==b==1:
    print("True")
else:
    print("False")

In [ ]:
dict1 = {"Actual":[1,0], "Predicted" :[1,1], "A":  [0.002753, 0.909696], "B": [0.997247, 0.090304]}
df = pd.DataFrame(dict1)
df

In [ ]:
for i in list(df.index):
    if df.loc[i,"Actual"] ==df.loc[i,"Predicted"]==0 or df.loc[i,"Actual"] ==df.loc[i,"Predicted"]==1:
        df.loc[i, "Conf_Type"] = True
    else:
        df.loc[i, "Conf_Type"] = False
df

# Loop Through Pandas Rows

In [ ]:
df = pd.DataFrame(np.array(([1, 2, 3], [4, 5, 6])),index=['mouse', 'rabbit'], columns=['one', 'two', 'three'])

In [ ]:
df.filter(items=['one', 'three'])
df.filter(regex='e$', axis=1)

In [ ]:
dict = {"Project_Name": ["Hilton International", "Hilton International A"]}
df2 = pd.DataFrame(dict)
df2.index=range(552, 554)

In [ ]:
dict = {"Project_Name": ["Hilton International", "Hilton International A"]}
df2 = pd.DataFrame(dict)
df2.index = range(552, 554)
for i in df2.index:
    df2.loc[[i]]["Project_Name"]

#df2.loc[[553]] = "Hilton International"

In [ ]:
list(df2.index.values)

In [ ]:
df2.Project_Name.str.contains(r'Hilton International$')[[552]] == True

# `apply` `lambda`
https://stackoverflow.com/questions/57551081/elegant-way-to-format-datetime-values-without-using-datetime-functions-in-pandas#57551081

In [ ]:
df1_new = pd.DataFrame({'person_id': [1, 1, 3, 3, 5, 5],'obs_date': ['7/23/2377  12:00:00 AM', 'NA-NA-NA NA:NA:NA', 'NA-NA-NA NA:NA:NA', '7/27/2277  12:00:00 AM', '7/13/2077  12:00:00 AM', 'NA-NA-NA NA:NA:NA']})
df1_new

In [ ]:
import datetime
def str2time(x):
    try:
        return datetime.datetime.strptime(x, '%m/%d/%Y %H:%M:%S %p')
    except:
        return pd.NaT
df1_new['obs_date'] = df1_new['obs_date'].apply(str2time)
print(df1_new)

In [ ]:
yr = df1_new['obs_date'][0][5:9]
type(yr)
m = df1_new['obs_date'][0][2:4]
d = df1_new['obs_date'][0][0]
t = df1_new['obs_date'][0][11:19]
output = yr + "-" + m + "-" + d + " " + t 
output

In [ ]:
import itertools
from haversine import haversine
x = {'city':['AUSTRALIAN NATIONAL UNIVERSITY', 'BARTON', 'DARWIN', 'DARWIN', 'PARAP', 'ALAWA', 'BRINKIN', 'CASUARINA', 'JINGILI', 'LEE_POINT' ]}
la = {'Latitude':[-35.277272,-35.201372, -12.801028 , -12.801028, -12.432181, -12.378451, -12.367769, -12.376597, -12.385761, -12.360865]}
lo = {'Longitude':[149.117136,149.095065, 130.955789 , 130.955789, 130.843310,  130.877014, 130.869808, 130.850489, 130.873726, 130.891349]}
data = {**x, **la, **lo}
df = pd.DataFrame(data)
df = df.drop_duplicates()
city = list(df["city"])
TwoCity = list(itertools.combinations(city, 2))
df1 = pd.DataFrame({'TwoCity':TwoCity})
#df['Date'] =  df.apply(lambda row: '1' + '/' + str(row.Month) + '/'+ str(row.Year), axis = 1)
df1['Distance'] = df1.apply(lambda row: \
          haversine((df[df['city']==row.TwoCity[0]]['Latitude'], df[df['city']==row.TwoCity[0]]['Longitude']),\
                    (df[df['city']==row.TwoCity[1]]['Latitude'], df[df['city']==row.TwoCity[1]]['Longitude'])),axis=1)

# convert `csv` to `json`

In [ ]:
csv_file = pd.DataFrame(pd.read_csv("path/to/file.csv", sep = ",", header = 0, index_col = False))
csv_file.to_json("/path/to/new/file.json", orient = "records", date_format = "epoch", double_precision = 10, force_ascii = True, date_unit = "ms", default_handler = None)

# Replace characters in table

In [ ]:
# implement it with pandas 
raw_data = {'ID': [1,2,3,4,5,6,7,8,9,10], 'body': ['FITrnXS$100', '$1000rnReason', 'rnIf', 'bevlauedrnrnnext', 'obccrnrnnoncrnrnactionrn', 'rnrnnotification', 'insdrnrnnon', 'rnrnupdated', 'rnreason', 'rnrnrnLOR']}
remove_string =['rn', 'rnr', 'rnrn', 'rnrnrn']
df = pd.DataFrame(raw_data, columns = ['ID', 'body', 'cleaned_txt', 'Removed_string'])

df['cleaned_txt'], df['Removed_string'] = df['body'], df['body']
for i in remove_string[::-1]:
    df['cleaned_txt'] = df['cleaned_txt'].str.replace(i, ' ')
    df[i] = df['Removed_string'].str.extract('({})'.format(i)) 

df['Removed_string'] = df[remove_string].ffill(axis=1).iloc[:, -1]
df = df.drop(remove_string, axis=1)
print (df)

In [ ]:
# Implement it in original data 👌
raw_data = {'ID': [1,2,3,4,5,6,7,8,9,10], 
        'body': ['FITrnXS$100', '$1000rnReason', 'rnIf', 'bevlauedrnrnnext', 'obccrnrnnoncrnrnactionrn', 'rnrnnotification', 'insdrnrnnon', 'rnrnupdated', 'rnreason', 'rnrnrnLOR']}
removed_string =['rn', 'rnr', 'rnrn', 'rnrnrn']
removed_string =  removed_string[::-1]

raw_data['Removed_string'] = []
raw_data['cleaned_txt'] = []
for i in raw_data['body']:
    j = 0
    m = removed_string[j]
    while True:
        m = removed_string[j]
        pattern = re.compile(m)
        n = pattern.findall(i)
        if len(n) != 0: 
            raw_data['cleaned_txt'].append(i.replace(m, ' '))
            raw_data['Removed_string'].append(m)
            break
        j += 1
df = pd.DataFrame(raw_data, columns = ['ID', 'body', 'cleaned_txt', 'Removed_string'])
print(df)

# Add a new column depending on the other column

In [ ]:
df = pd.DataFrame()
df['temp'] = pd.date_range(start='01-Jan-2000', end='31-Dec-2018', freq='MS')
df['value'] = 5
df.set_index('temp', inplace=True)
days_list = []
for val in df.index:
    days_list.append(calendar.monthrange(val.year, val.month)[1])

df['days_in_month'] = days_list
df

In [ ]:
df = pd.DataFrame()
df['temp'] = pd.date_range(start='01-Jan-2000', end='31-Dec-2018', freq='MS')
df['value'] = 5
df.set_index('temp', inplace=True)

for val in df.index:
    df['days_in_month'] = df.index.map(
        lambda val: calendar.monthrange(val.year, val.month)[1])

df

In [ ]:
df = pd.DataFrame()
df['temp'] = pd.date_range(start='01-Jan-2000', end='31-Dec-2018', freq='MS')  
df['value'] = 5
df.set_index('temp', inplace=True)
df['days_in_month'] = df.index.daysinmonth 
df

In [ ]:
dict0 = {'ix': ['pa', 'pa', 'pe', 'fc', 'pb', 'pb', 'df']}
df = pd.DataFrame(dict0)
df

In [ ]:
df.loc[0, 'ans'] = 1
df

In [ ]:
df['ans'] = (df['ix'] != df['ix'].shift(1)).cumsum() 
df

In [ ]:
x=['AAAA'] 
x[0]
[i for i in x[0]]

In [ ]:
df  = pd.DataFrame([("Charlie", "p.", "Nelson", "loves", "Dana", "c.", "anderson", "and", "james"), (1,1,1, None, 2,2,2, None, 3)]).transpose()
df.columns = ["word", "entity"]

https://stackoverflow.com/questions/57510604/perfrom-cumulative-sum-over-a-column-but-reset-to-0-if-negative-value-encountere#57510604

In [ ]:
df  = pd.DataFrame({'Value':[7,2,-6,-70,8,0]})
x = list(df.Value)
x

In [ ]:
y = [x[0]]
for i in range(1, len(x)):
    z = x[i] + y[-1]
    if z > 0:
        y.append(z)
    else:
        y.append(0)
y

# Merge  drop duplication 
https://stackoverflow.com/questions/57406428/pandas-merge-df-many-to-many-without-duplicates/57406653#57406653

In [ ]:
data_dic = {
    "a": [0,0,1,2],
    "b": [3,3,4,5],
    "c": [6,7,8,9]
}
df1 = pd.DataFrame(data_dic)

data_dic = {
    "a": [0,0,1,2],
    "b": [3,3,4,5],
    "d": [10,10,12,13]
}
df2 = pd.DataFrame(data_dic)


df3 = pd.merge(df1, df2, how='inner', on=['a', 'b']).drop_duplicates()
df3

In [ ]:
print(pd.concat([df1, df2], axis=1).T.drop_duplicates().T)

https://stackoverflow.com/questions/57604212/how-to-split-a-list-of-dictionaries-into-multiple-columns-keeping-the-same-index

# How to unnest (explode) a column in a pandas DataFrame?
https://stackoverflow.com/questions/53218931/how-to-unnest-explode-a-column-in-a-pandas-dataframe

In [ ]:
raw_data = {'score': [1,2,3], 
        'tags': [['apple','pear','guava'],['truck','car','plane'],['cat','dog','mouse']]}
df = pd.DataFrame(raw_data, columns = ['score', 'tags'])
df

In [ ]:
k = []
for i in raw_data['tags']:
    for j in i:
        k.append(j )
k 
raw_data['tags'] = k 
raw_data

# Read in `txt ` file

In [ ]:
a_list = []
with open("sample.txt") as f:
    for line in f.readlines():
        for entry in line.split(" "):
            a_list.append(entry)

In [ ]:
float(a_list[1])
float(a_list[-1])

In [ ]:
a_list = []
with open("sample.txt") as f:
    for line in f.readlines():
        for entry in line.split(" "):
            a_list.append(entry)


for entry in a_list[:-2]:
    print("%.12f" % float(entry))
print("list length is " + str(len(a_list)))
print(a_list[0])

In [ ]:
text = """
        Project Name  
552   Hilton International
553   Hilton International A
"""

key = df.iloc[552:553]['Project Name'].tolist()
key = key[0]
difflib.get_close_matches(key, df['Project Name'].tolist())

# Calculate relevance between columns of `dataframe`

In [ ]:
d1 = {
    "name": "room1",
    "colors": ["red", "blue", "green"],
    "objects": ["chair", "bed"]
}

d2 = {
    "name": "room2",
    "colors": ["blue", "green"],
    "objects": ["chair", "bed", "sofa", "fridge"]
}

d3 = {"name": "room3", "colors": ["yellow", "pink"], "objects": ["chair"]}
x = set(d1['colors'] + d1['objects'])
y = set(d2['colors'] + d2['objects'])
z = set(d3['colors'] + d3['objects'])
print(len(x & y))
print(len(x & z))

In [ ]:
lenOfIntersection = lambda d1, d2: len(set(d1['colors']+d1['objects']) & set(d2['colors']+d2['objects']))
D = [d1, d2, d3]
for d in D[1:]:
    print(lenOfIntersection(D[0], d))

In [ ]:
!cat test.json # not json file

In [ ]:
test = {"11.67": 1, "12.67": 2}
indexes = test.keys()
final_dict = {}
temp_dict = {}
for index in indexes:
    b = index.split('.')[0]
    temp_dict['value'] = b
    final_dict.update({index: temp_dict})
    # final_dict[index] = temp_dict

print(final_dict)

test = {"11.67": 1, "12.67": 2}
indexes = test.keys()
final_dict = {}
for index in indexes:
    temp_dict = {}
    b = index.split('.')[0]
    temp_dict['value'] = b
    final_dict.update({index: temp_dict})
print(final_dict)

In [ ]:
try:
    a = str(11) > 3
    print(a)
except:
    pass
"""
a = str(11) > 3
print(a)
"""

In [ ]:
data = pd.DataFrame({"col1" : ["a", "b", "z","w", "g", "p", "f"], "col2" : 
["010", "030","500","333","090","050","111"]})
data["col2"]

In [ ]:
pattern =  re.compile(r'^0+')
for i, v in enumerate(data["col2"]):
    data["col2"][i]=pattern.sub("", v)  
print(data)

In [ ]:
data = pd.DataFrame({"col1" : ["a", "b", "z","w", "g", "p", "f"], "col2" : 
["010", "030","500","333","090","050","111"]})

data['col2'] = data['col2'].apply(lambda x:re.sub(r"^0", '', x))
print(data)

In [ ]:
import re

text = "import alkfa dfa aldkf \n import my name is xyz \n i am working incoverfox"
re.findall(r'(import .+)', text)

In [ ]:
! touch test.json

In [ ]:
if "test.json":
    with open("test.json", 'r') as f:
        datastore = json.load(f)
datastore["widgets"][1]

# Add column and remove row
* https://stackoverflow.com/questions/57120458/pivot-datetime-index-to-a-start-and-end-column

In [ ]:
df = pd.read_csv('test.csv', sep=r'\s{2,}', engine='python')
n = len(df.index)//2
x = df['datetime']
# drop the column of 'datetime'
df = df.drop('datetime', axis=1)
# Remove the duplicated row
df = df.drop_duplicates()
df.index=range(n) 
start = x[0::2]
start.index=range(n)
end = x[1::2]
end.index = range(n)
df['start'] =start 
df['end']=end 
#df.style.set_properties(**{'text-align': 'left'})
print(df.to_string(index=False))

In [ ]:
#df = pd.read_csv('test.csv', sep=r'\s{2,}', engine='python', header=None, names=['datetime','transmission #'])
df = pd.read_csv('test.csv', sep=r'\s{2,}', engine='python')
df

In [ ]:
df.index

In [ ]:
x = df['datetime']
x
type(x)
x[1::2]
x[0::2]
x.index
# change row names

#df.rename(index={0:'zero',1:'one'}, inplace=True)
type(x[1::2])

In [ ]:
df = df.drop('datetime', axis=1)

In [ ]:
df = df.drop_duplicates()
df

In [ ]:
df.index=range(2)
df

In [ ]:
x[1::2].index = range(2)
x[1::2].index
x.index
start = x[1::2]
start.index=range(2)
start 
end = x[0::2]
end.index = range(2)
end

In [ ]:
df['start'] =start 
df['end']=end 
df

In [ ]:
df = pd.read_csv('test1.csv', sep=r'\s{2,}', engine='python') 
df

In [ ]:
bad = df.index.isin([42])
bad 
df[bad]
df[~bad]

In [ ]:
for i in list(df.index):
    excludeIndex = df.index.isin([i]) 
    for j in list(df[~excludeIndex].index):     
        df.loc[j]-df.loc[i]

In [ ]:
def findRow(row):
    IL = list(df.index)
    n = len(list(IL))
    excludeIndex = df.index.isin([row]) 
    result = []
    for i in list(df[~excludeIndex].index):
        if 0<=abs(df.loc[i,'st'] - df.loc[row,'st']) <10 and 0<=abs(df.loc[i,'se'] - df.loc[row,'se']) <10: 
            result.append(i)  
    return result
findRow(42)

## Add a column 
* https://www.geeksforgeeks.org/adding-new-column-to-existing-dataframe-in-pandas/

In [ ]:
df['start']=df['datetime'][0::2]
df['end']=df['datetime'][1::2]
df

```md
datetime               transmission #
2019-07-12 00:03:06    124
2019-07-12 00:04:56    124
2019-07-12 00:20:10    125
2019-07-12 00:21:33    125
```

In [ ]:
data = [{'testid': 'testid_1', 'value':15},
{'testid': 'testid_1', 'value':15},
{'testid': 'testid_1', 'value':20},
{'testid': 'testid_1', 'value':20},
{'testid': 'testid_1', 'value':15},
{'testid': 'testid_1', 'value':15},
{'testid': 'testid_2', 'value':215},
{'testid': 'testid_2', 'value':215},
{'testid': 'testid_3', 'value':215},
{'testid': 'testid_3', 'value':69},
{'testid': 'testid_3', 'value':215}]

df = pd.DataFrame(data) 
df['newid']=df.groupby('testid').value.apply(lambda x : x.diff().ne(0).cumsum()) 
df

## Rename a column

In [ ]:
df = pd.DataFrame({'$a':[1,2], '$b': [10,20]})
df.columns = ['a', 'b']

## Drop a row
* https://chrisalbon.com/python/data_wrangling/pandas_dropping_column_and_rows/

In [ ]:
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
df
df.drop(['Cochice', 'Pima'])

In [ ]:
df.drop('reports', axis=1)

In [ ]:
df[df.name != 'Tina']

In [ ]:
df.drop(df.index[[2,3]])

# Use pandas like sql
* https://www.novixys.com/blog/pandas-tutorial-select-dataframe/

In [ ]:
start = 1
end = 10
factor = 2
n = np.arange(1,10 ,pow(10-1,pow(10,-6))) 
print(n) 
z = np.dot(np.sin(n),np.power(2, np.dot(-n, factor)))
z

In [ ]:
np.sin(n)

In [ ]:
np.power(2, np.dot(-n, factor))

In [ ]:
np.dot(np.sin(n), np.power(2, np.dot(-n, factor)) )

In [ ]:
np.dot(2, n)

In [ ]:
n = np.arange(1,10, 9*pow(10,-1))

In [ ]:
k = np.arange(1, 3, 0.1)

In [ ]:
[np.dot(np.sin(n), np.power(2, np.dot(-n, factor))) for n in k]

In [ ]:
import time
import numpy as np
a = time.time()
nsample = np.arange(1,10 ,(end-start)*pow(10,-6)) 
y = [np.dot(np.sin(n),np.power(2, np.dot(-n, 2))) for n in nsample]
print(time.time() - a)

In [ ]:
import time
import numpy as np
a = time.time()
nsample = np.arange(1,10 ,(end-start)*pow(10,-6)) 
y = np.dot(np.sin(n),np.power(2, np.dot(-n, 2))) 
print(time.time() - a)

In [ ]:
y[0]

In [ ]:
x = np.linspace(0, 10, 10)
y = np.dot(np.sin(x),  np.exp(3 * x))

In [ ]:
np.dot(2*x, 3*x)

In [ ]:
2*x[-1]*3*x[-1]

In [ ]:
z = 0
for i in x:
    z = 2*i+3*i 
z

# Flatten json

In [ ]:
from itertools import chain
df5 = pd.DataFrame({'text':[[['some','string'],['yes']],[['hello','how','are','u'],['fine','thanks']]],
               'names':[[['chris'],['peter','kate']],[['steve','john'],['kyle','eric']]]})

print(df5.applymap(lambda x: list(chain.from_iterable(x))))

In [ ]:
df5

In [ ]:
for a in df5['text']:
    print(a)
for a in df5['text']:    
    for b in a:
        print(b)

In [ ]:
list(chain.from_iterable([['some','string', ['ok', ['okk']]],['yes']]))

# regex pattern 
https://pythex.org/

https://regex101.com/

In [ ]:
import re

https://stackoverflow.com/questions/57509388/how-to-extract-value-from-an-array-based-on-condition-in-pandas-or-numpy#57509518

In [ ]:
data = {'Bird':['Parrot','Eagle','Seagull'],'Color':[['Light_Blue','Green','Dark_Blue'],['Sky_Blue','Black','White', 'Yellow','Gray'],['White','Jet_Blue','Pink', 'Tan','Brown', 'Purple']]}
df =pd.DataFrame( data) 
df["Blue"]=df.Color.apply(lambda x: [v for v in x if "Blue" not in v])
df

https://stackoverflow.com/questions/57549300/extract-limited-set-of-date-patterns

# Datetime range

* https://stackoverflow.com/questions/57263555/dataframe-resample-does-not-include-last-datam

In [ ]:
pd.date_range(start='2020-01-01',  periods=12, freq='M')

In [ ]:
df = pd.DataFrame({'Date':['2020-01-01', '2021-01-01', '2022-01-01', '2023-01-01'],\
                   'Value':[1.248310e+06, 1.259511e+06, 1.276312e+06,1.298714e+06]})

In [ ]:
index = pd.date_range('1/1/2020', periods=4, freq='YS')
series = pd.Series([1.248310e+06, 1.259511e+06, 1.276312e+06, 1.298714e+06], index=index)
series2 = pd.Series(1.298714e+06, pd.date_range('12/1/2023', periods=1))
series = series.append(series2)
down_sampling = series.resample('MS').ffill()
down_sampling

In [ ]:
x = [ random.randint(1,12) for _ in range(10)]

In [ ]:
sorted(x)

In [ ]:
def most_frequent(array):
    frequencies = {}
    for value in array:
        frequencies[value] += 1
    return max(frequencies, key=frequencies.get)

In [ ]:
x = [1, 2, 4, 4, 5, 5, 5, 7, 7, 11]
# construct a count dict:
d = {}
for i in x:
    d[i] = d.get(i, 0) + 1 
d 
#  find largest keys:
largest = [key for m in [max(d.values())] for key, val in d.items() if val == m]
result = max(largest)
result

In [ ]:
df = pd.DataFrame({'Month':[1,1,2,2], 'Year':[2013, 2013, 2013, 2013]})

In [ ]:
df = pd.DataFrame({'Month':[1,1,2,2], 'Year':[2013, 2013, 2013, 2013]})
#print(df.to_string(index=False))
df['Date'] =  df.apply(lambda row: '1' + '/' + str(row.Month) + '/'+ str(row.Year), axis = 1)
print(df.to_string(index=False))

* https://stackoverflow.com/questions/57507399/how-to-divide-60-mins-datapoints-into-15-mins#57507518

In [ ]:
df = pd.DataFrame({'Time' :['2016-01-01 00:00:00','2016-01-01 01:00:00','2016-01-01 02:00:00 '], 'A':[1,5,13]})
df

In [ ]:
index = pd.date_range('2016-01-01 00:00:00', periods=4, freq='15min')

In [ ]:
df = pd.DataFrame({
    'Time': ["2016-01-01 00:00:00", "2016-01-01 01:00:00", "2016-01-01 02:00:00"],
    'A': [1 , 5, 13]
})
df['Time'] = pd.to_datetime(df['Time'])
new_idx = pd.DatetimeIndex(start=df['Time'].iloc[0], end=df['Time'].iloc[-1], freq='15min')
df2 = df.set_index('Time').reindex(new_idx).interpolate().reset_index()
df2.rename(columns={'index': 'Time'}, inplace=True)
df2['A'] = df2['A'].round().astype(int)
print(df2)

# How to save styled pandas DataFrame

In [ ]:
name = ['Diego', 'Luis', 'Vidal', 'John', 'Yusef']
id = ['b000000005', 'b000000015', 'b000000002', 'b000000011', 'b000000013']
cel = [7878, 6464, 1100, 4545, 1717]
date = pd.to_datetime(['2017-05-31 20:53:00', '2017-05-11 20:53:00', '2017-05-08 20:53:00', 
                       '2017-06-06 20:53:00', '2017-06-06 20:53:00'])

df = pd.DataFrame({'Name':name,'ID':id,'Cel':cel,'Date':date})

def color(val):
    if val < datetime.now():
        color = 'green'
    elif val > datetime.now():
        color = 'yellow'
    elif val > (datetime.now() + timedelta(days=60)):
        color = 'red'
    return 'background-color: %s' % color

df = df.style.applymap(color, subset=['Date'])
# https://mode.com/example-gallery/python_dataframe_styling/

In [ ]:
df.style.apply(borders)

In [ ]:
np.random.seed(24)
df = pd.DataFrame({'A': np.linspace(1, 10, 10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))],
               axis=1)
df.iloc[0, 2] = np.nan

In [ ]:
df.style

In [ ]:
df_html = df.render()

In [ ]:
with open('DataFrame.html', 'a') as f:
    f.write(df.render() )

In [ ]:
from IPython.display import display
display(df)

In [ ]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>

In [ ]:
df = pd.DataFrame(np.random.rand(5,2), columns=["a","b"])
print(df)

In [ ]:
Underscores = int(input("Enter a number: "))
print("^" + '_'* Underscores + "^")

In [ ]:
myString = 'I have a cat, it like food'

In [ ]:
myString.replace('cat','dog')

In [ ]:
import itertools
from haversine import haversine
x = {'city':['AUSTRALIAN NATIONAL UNIVERSITY', 'BARTON', 'DARWIN', 'DARWIN', 'PARAP', 'ALAWA', 'BRINKIN', 'CASUARINA', 'JINGILI', 'LEE_POINT' ]}
la = {'Latitude':[-35.277272,-35.201372, -12.801028 , -12.801028, -12.432181, -12.378451, -12.367769, -12.376597, -12.385761, -12.360865]}
lo = {'Longitude':[149.117136,149.095065, 130.955789 , 130.955789, 130.843310,  130.877014, 130.869808, 130.850489, 130.873726, 130.891349]}
data = {**x, **la, **lo}
df = pd.DataFrame(data)
df = df.drop_duplicates()
city = list(df["city"])
TwoCity = list(itertools.combinations(city, 2))
df1 = pd.DataFrame({'TwoCity':TwoCity})
#df['Date'] =  df.apply(lambda row: '1' + '/' + str(row.Month) + '/'+ str(row.Year), axis = 1)
df1['Distance'] = df1.apply(lambda row: \
          haversine((df[df['city']==row.TwoCity[0]]['Latitude'], df[df['city']==row.TwoCity[0]]['Longitude']),\
                    (df[df['city']==row.TwoCity[1]]['Latitude'], df[df['city']==row.TwoCity[1]]['Longitude'])),axis=1)

In [ ]:
# Select rows based on column value
df[df['city'].isin(TwoCity[1])].iloc[1]

In [ ]:
raw_data = {'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'],
'age': [20, 19, 22, 21],
'favorite_color': ['blue', 'blue', 'yellow', "green"],
'grade': [88, 92, 95, 70]}

df = pd.DataFrame(raw_data)

In [ ]:
#To select rows whose column value equals a scalar, some_value, use ==:
df[df['favorite_color'] == 'yellow']

In [ ]:
a = ['a', 'b', 'c']
b = [1,2,3]
dict(zip(a, b))

In [ ]:
dict(zip(b, a))

In [ ]:
file_list = ['.DS_Store', '9', '7', '6', '8', '01', '4', '3', '2', '5']

In [ ]:
tmp = []
for i in file_list:
    if len(i)==1:
        tmp.append(i)
tmp

In [ ]:
[ i for i in file_list if len(i)==1]

In [ ]:
data =[['Armin',12,5,11,24,5,4,10,5],['Benji',10,12,10,32,4,18,0,0],['Casey',0,0,30,15,25,5,0,0]]
df = pd.DataFrame(data, columns = ['Name','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08'])

In [ ]:
df.loc[1,'Name']

In [ ]:
data2 = [['Armin','2019-04'],['Benji','2019-02'],['Casey','2019-03']]
df2 = pd.DataFrame(data2, columns = ['Name','Specified Month'])

In [ ]:
df2[df2['Name']=='Benji']['Specified Month']

In [ ]:
N = 3
a = df.columns.get_indexer(df2['Specified Month'])

df2['Specified Average'] = np.mean(df.values[np.arange(len(df)), 
                                   np.add.outer(a, np.arange(N)).T], axis=0)

In [ ]:
data = {'description':['XG154LU', '4562689','556','LE896E','65KKL4']}
val = data['description']
newv =[]
for v in val:
    if any([char.isalpha() for char in v]):
        va = [char for char in v if char.isalpha()]
        va = ''.join(va)
        newv.append(va)
    else:
        newv.append(v)
data['description'] = newv
data

In [ ]:
data = {'description': ['XG154LU', '4562689', '556', 'LE896E', '65KKL4']}


def convert(v):
    if any([char.isalpha() for char in v]):
        va = [char for char in v if char.isalpha()]
        va = ''.join(va)
        return va
    else:
        return v


df = pd.DataFrame(data)
df['description'] = df['description'].apply(convert)
print(df)

In [ ]:
print('BANANA'.count('AN'))

In [ ]:
'BANANA'.strip('ANA')

In [ ]:
df = pd.DataFrame({'country': ['Brazil','UK','Canada','USA'],'value': [5,3,2,7]})
df 
list_index = [2,0,3,0,1,2,3,3,0,2,2]
df.reindex(list_index)

# Operate on data in DataFrame
https://stackoverflow.com/questions/57517483/how-to-select-rows-within-two-dates-in-a-pandas-dataframe#57517527

In [ ]:
df = pd.DataFrame({'col1':['xxx;#2;yyy','aaa;#3;bbbccc '],'col2':['zzz;#46;zyzcz','bbbb;cccc;dd#5'  ]})

In [ ]:
def cleanDigit(row):
    replacements = [('\d', ''), ('#', ''), (';;', ';')]
    for (old, new) in replacements:
        row = re.sub(old, new, row)
    return row
df[['col1', 'col2']] = df[['col1', 'col2']].applymap(cleanDigit)
df