In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
import re
import random
import calendar
import time 
from datetime import datetime, timedelta

Check up 
https://stackoverflow.com/users/2901002/jezrael

#  DataFrame

<span style="font-family: New York Times; font-size: 1em; color: green;">
    
The most important part of the Pandas library is the DataFrame. A DataFrame holds the type of data you might think of as a table. This is similar to a sheet in Excel, or a table in a SQL database. 

Want to know the basic usage look like this?

* [pandas source](https://github.com/pandas-dev/pandas)
* [19 Essential Snippets in Pandas](https://jeffdelaney.me/blog/useful-snippets-in-pandas/)
* https://towardsdatascience.com/pandas-dataframe-a-lightweight-intro-680e3a212b96

## Data for `DataFrame`

In [ ]:
tupList = [[('commentID', 'commentText', 'date'), ('123456', 'blahblahblah', '2019')], [('45678', 'hello world', '2018'), ('0', 'text', '2017')]]
pd.DataFrame(sum(tupList,[]))

In [ ]:
data = {'Tom':['1','1','1','1','1','0','0'],
        'John':['1','1','1','1','1','0','0'],
        'Harry':['1','1','1','1','1','0','0'],
        'Bob':['1','1','1','1','1','0','0']}

df1 = pd.DataFrame.from_dict(data, orient='index',
                        columns=['Day 1','Day 2','Day 3','Day 4','Day 5','Day 6','Day 7',])

print(df1)


data2 = {'Name':['Tom','Harry'], 'Day':['Day 7','Day 6']}
df2 = pd.DataFrame.from_dict(data2)
print(df2)

## Count row numbers

In [ ]:
df  = pd.DataFrame({'Lat': [20, 30], 'Lon':[20,10]})
[{'lat': df.loc[i, 'Lat'], 'lon' : df.loc[i, 'Lon']} for i in range(df.shape[0])]

In [ ]:
data = zip(df['Lat'].tolist(), df['Lon'].tolist())
[{'lat': a, 'lon': b} for a, b in data]

## Rename column

In [ ]:
df = pd.DataFrame({'$a':[1,2], '$b': [10,20]})
df.columns = ['a', 'b']
df.head(2)

https://stackoverflow.com/questions/57822783/merging-sublists-into-columns-with-a-loop/57822938#57822938

In [ ]:
a = [[11, 22, 33], [44, 55, 66]]
b = [[1, 2, 3], [4, 5, 6]]

data = [x+y for x, y in zip(a,b)]
df = pd.DataFrame(data).T
df.columns = ['a', 'b']
print(df)

## Add new columns to existed DataFrame

In [ ]:
df = pd.DataFrame({"column_1": [1] , "column_2": [2] , "column_3": [3] })
print(df)
A = 1
B = "c_10"
df.insert(0,'A',A)
df.insert(1,'B',B)
print(df.to_string(index= False))

https://stackoverflow.com/questions/57120458/pivot-datetime-index-to-a-start-and-end-column

In [ ]:
df = pd.read_csv('test.csv', sep=r'\s{2,}', engine='python')
n = len(df.index)//2
x = df['datetime']
# drop the column of 'datetime'
df = df.drop('datetime', axis=1)
# Remove the duplicated row
df = df.drop_duplicates()
df.index=range(n) 
start = x[0::2]
start.index=range(n)
end = x[1::2]
end.index = range(n)
df['start'] =start 
df['end']=end 
#df.style.set_properties(**{'text-align': 'left'})
print(df.to_string(index=False))

## Search columns

In [ ]:
df = pd.DataFrame({
    'customerId' : ['A', 'A', 'A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B', 'B','B', 'B', 'B'],
    'startOf15Min' : ['2019-07-30T00:00:00', '2019-07-30T00:15:00',
       '2019-07-30T07:00:00', '2019-07-30T07:15:00',
       '2019-07-30T07:30:00', '2019-07-30T07:45:00',
       '2019-07-30T08:00:00', '2019-07-30T00:00:00',
       '2019-07-30T00:15:00', '2019-07-30T06:30:00',
       '2019-07-30T06:45:00', '2019-07-30T07:00:00',
       '2019-07-30T07:15:00', '2019-07-30T07:30:00',
       '2019-07-30T07:45:00', '2019-07-30T08:00:00']
}, columns=['customerId', 'startOf15Min'])
df

In [ ]:
indices = [1, 3, 4]
df = pd.DataFrame(np.random.rand(10, 5))
df[indices]

## Pandas find missing 15 minutes intervals
https://stackoverflow.com/questions/57267868/pandas-find-missing-15-minutes-intervals

In [ ]:
df = pd.DataFrame({
    'customerId' : ['A', 'A', 'A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B', 'B','B', 'B', 'B'],
    'startOf15Min' : ['2019-07-30T00:00:00', '2019-07-30T00:15:00',
       '2019-07-30T07:00:00', '2019-07-30T07:15:00',
       '2019-07-30T07:30:00', '2019-07-30T07:45:00',
       '2019-07-30T08:00:00', '2019-07-30T00:00:00',
       '2019-07-30T00:15:00', '2019-07-30T06:30:00',
       '2019-07-30T06:45:00', '2019-07-30T07:00:00',
       '2019-07-30T07:15:00', '2019-07-30T07:30:00',
       '2019-07-30T07:45:00', '2019-07-30T08:00:00']
}, columns=['customerId', 'startOf15Min'])

df.startOf15Min = pd.to_datetime(df.startOf15Min)

intv = pd.date_range('2019-07-30 06:00:00','2019-07-30 09:00:00', freq='15Min', closed='left')
df.startOf15Min = pd.to_datetime(df.startOf15Min)
missing = df.groupby('customerId')['startOf15Min'].apply(lambda x: [i for i in intv if i not in x])

print(missing[0])

https://stackoverflow.com/questions/57549162/filling-in-missing-hours-in-a-pandas-dataframe

## Select rows

* https://stackoverflow.com/questions/57533004/how-to-drop-all-rows-in-pandas-dataframe-with-negative-values/57533045?noredirect=1#comment101531645_57533045

In [ ]:
dict0 = {
    "country":
    ["Brazil", "Russia", "India", "China", "South Africa", "South Africa"],
    "capital":
    ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria", "Pretoria"],
    "area": [8.516, 171.10, 3.286, 9.597, 1.221, 1.221],
    "population": [200.4, 143.5, 1252, 1357, 52.98, 52.98]
}

df = pd.DataFrame(dict0)
df

In [ ]:
df = pd.DataFrame({
    'col1': [1, 2, 3, 4],
    'col2': [-1, -2, 3, 4],
    'col3': ['a', 'b', 'c', 'd'],
    'col4': [1, 2, 3, 4]
})
df[df.select_dtypes(include=[np.number]).ge(0).all(1)]

## Iterate row

https://stackoverflow.com/questions/57588176/creating-new-list-names-during-iteration-to-append-elements/57588483#57588483

In [ ]:
df = pd.DataFrame({"R1": [8,2,3], "R2": [-21,-24,4], "R3": [-9,46,6]})
df.apply(lambda row: row[:])
# desired Output
list1 = df.values[0].tolist()
print(list1)
list2 = df.values[1].tolist()
print(list2)
list3 = df.values[2].tolist()
print(list3)
#df.loc[1].values.tolist()
for i in range(3):
    print('list{} = {}'.format(i, df.loc[i].values.tolist()))

https://stackoverflow.com/questions/57772483/converting-dataframe-column-values-to-list/57772563#57772563

In [ ]:
df = pd.DataFrame({'Column': [["a", "b", "c"],["a"], 'a','b',["cc", "dd"]]})
print(df[df.Column.apply(lambda row: type(row)==list)])

## `df.loc` and `df.iloc`

In [ ]:
dict0 = {
    "country":
    ["Brazil", "Russia", "India", "China", "South Africa", "South Africa"],
    "capital":
    ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria", "Pretoria"],
    "area": [8.516, 171.10, 3.286, 9.597, 1.221, 1.221],
    "population": [200.4, 143.5, 1252, 1357, 52.98, 52.98]
}

df = pd.DataFrame(dict0)
df.head(2) 
df.index[df.country=="South Africa"]

In [ ]:
df.loc[:,'country']
df['country']
df.iloc[-5:]
df.iloc[[1,2]]
df.iloc[1,2]

In [ ]:
random.sample(list(df.index.values), 3)[-2:]
df.index.values

In [ ]:
np.random.seed(0)
df = pd.DataFrame(np.random.randint(10, size=(1000, 2)))
df.columns = ['x', 'y']
indices = np.random.choice(df.index[-50:], size=5, replace=False)
result = df.iloc[indices]
print(result)

def randomly_generated_dataframe( df, n1, n2): 
    selected_indices = random.sample(list(df.index.values), n1)[-n2:]
    return df.iloc[selected_indices]

randomly_generated_dataframe( df, 5, 50)

## `df.drop`

https://chrisalbon.com/python/data_wrangling/pandas_dropping_column_and_rows/

In [ ]:
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
df
df.drop(['Cochice', 'Pima'])
df.drop('reports', axis=1)
df[df.name != 'Tina']
df.drop(df.index[[2,3]])

https://stackoverflow.com/questions/57807305/pandas-drop-duplicates-in-cola-keeping-row-based-on-condition-on-colb

In [ ]:
df = pd.DataFrame({'col1': ['A', 'A', 'A','B','B'], 'col2': ['type1', 'type2', 'type1', 'type2', 'type1'] , 'hour': ['18:03:30','18:00:48', '18:13:46', '18:11:29', '18:06:31']  })
df 
df.drop_duplicates(['col1','col2']) 
df.drop_duplicates(['col1','col2'], keep= 'last')

https://stackoverflow.com/questions/57823131/decomposing-complex-data-structure-consisting-of-dictionary-and-list-of-tuples-tm

In [ ]:
test = {'S37_1': [('L26_1', '100.000'), ('S13_1', '100.000'), ('L29_1', '100.000'), ('S37_1', '100.000'), ('S38_1', '99.910'), ('L25_1', '99.910'), ('L16_1', '99.888')],\
        'L29_1': [('L26_1', '100.000'), ('S13_1', '100.000'), ('L29_1', '100.000'), ('S37_1', '100.000'), ('S38_1', '99.910'), ('L25_1', '99.910'), ('L16_1', '99.888')], \
        'L25_2': [('S38_3', '100.000'), ('L16_4', '100.000'), ('L25_2', '100.000'), ('L29_3', '99.889'), ('L26_2', '99.783'), ('S13_2', '99.777'), ('S37_2', '99.464')], \
        'S38_3': [('S38_3', '100.000'), ('L16_4', '100.000'), ('L25_2', '100.000'), ('L29_3', '99.889'), ('L26_2', '99.783'), ('S13_2', '99.777'), ('S37_2', '99.464')]}

df = pd.DataFrame(test)
df

## Merge 2 DF

In [ ]:
df1= {'id' : [1,1,1,3,5,6,7,8,9,10], 'name' : ['a','a','a','c','e','f','g','h','i','j']}
df2 = {'id' : [1,2,3,4,5,6,7,8,9,10], 'age' : [21,11,45,11,56,22,26,26,17,32], 'gender' : ['M','M','f','f','M','f','M','M','f','M']}}
df1 = pd.DataFrame(df1)
df1.set_index('id', inplace = True)
df2 = pd.DataFrame(df2)
df2.set_index('id', inplace = True)
df1['gender'] = df2['gender']
#df1.merge(df2, left_index=True, right_index=True)

In [ ]:
dict0 = {'CO2': {'GWP': 1.0, 'B_index': [23, 92, 93, 427, 437, 438]}, 'CH4': {'GWP': 28.0, 'B_index': [24, 67, 68, 69, 70, 71, 72, 73, 74, 426, 435]}, 'N2O': {'GWP': 265.0, 'B_index': [25, 429]}}
df = pd.DataFrame(dict0)
print(df.loc['B_index'])
print(df.loc['B_index', "CO2"])
print(df.loc['B_index', "CH4"])
print(df.loc['B_index', "N2O"])

In [ ]:
df.iloc[-1][1]
df.iloc[0][1] 
df.loc["GWP":, ]

In [ ]:
dict1 = {
    "Column1": [
        "A1-19", "B2-52", "C3-1245¯main_123456789", "D4", "Z89028",
        "F7¯main_123456789"
    ]
}
df1 = pd.DataFrame(dict1)
df1

In [ ]:
re.compile(r'')

In [ ]:
df1["New"]=df1['Column1'].str.split('¯main_').str[0]
df1

In [ ]:
'C3-1245¯main_123456789'.split("¯main_")
'Z89028'.split("¯main_")

In [ ]:
m = ['x', 'y', 'z', 'a', 'b', 'c']
m = np.array(m)
print(type(m))

https://stackoverflow.com/questions/57687415/merge-two-dataframe-columns

In [ ]:
np.random.seed(0)
left = pd.DataFrame({'key': ['A', 'B', 'C', 'D'], 'value': np.random.randn(4)})    
right = pd.DataFrame({'key': ['B', 'D', 'E', 'F'], 'value': np.random.randn(4)})
left
right
pd.merge(left, right, on='key')

https://stackoverflow.com/questions/57780410/join-multiple-columns-into-one-column

In [ ]:
df = pd.DataFrame(columns=['column 1', 'column 2', 'column 3'], data = [['17.1 g', np.nan, np.nan], [np.nan, '7.0 g', np.nan], [np.nan, '3.7 g', '0.7 g'], [np.nan, np.nan, '1.7 g'], ['1.1 g', np.nan, '1.0 g']])
df 
df.bfill(axis=1).iloc[:,0]

### join between

https://stackoverflow.com/questions/57823020/how-to-concat-between-columns-keeping-sequence-unchanged-in-2-dataframes-pandas

In [ ]:
data1 = {
    'index': [0, 1, 2, 3],
    '394': ['Recycle Gas', 'TT', 'nan', 'nan'],
    'min': ['min', 'date', '2011-03-02 08:00:00', '2011-03-02 08:00:00'],
    'FIC-2000': ['20K20', 'kg/h', '-20.7', '-27.5 ']
}
data2 = {
    'index': [0],
    'Unnamed:0': ['Service'],
    '0': ['Prop'],
    '1': ['Prop1'],
    '394': 'Recycle Gas',
    '395': ['RecG']
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df1
pd.merge

In [ ]:
pd.concat([df1,df2], axis=1)

# Add a column and based on conditions
* https://stackoverflow.com/questions/57129328/for-loop-based-on-two-filtered-columns

In [ ]:
dict1 = {"Actual":[1,0], "Predicted" :[1,1], "A":  [0.002753, 0.909696], "B": [0.997247, 0.090304]}
df = pd.DataFrame(dict1)
df 
df.iloc[1,0]

In [ ]:
for i in list(df.index):
    if df.loc[i,"Actual"] ==df.loc[i,"Predicted"]==0 or df.loc[i,"Actual"] ==df.loc[i,"Predicted"]==1:
        df.loc[i, "Conf_Type"] = True
    else:
        df.loc[i, "Conf_Type"] = False
df

# `df.filter`

In [ ]:
df = pd.DataFrame(np.array(([1, 2, 3], [4, 5, 6])),index=['mouse', 'rabbit'], columns=['one', 'two', 'three'])
df

In [ ]:
df.filter(items=['one', 'three'])
df.filter(regex='e$', axis=1)

## `df[col_name].mask`

https://stackoverflow.com/questions/57806725/converting-an-empty-row-into-a-columns-in-pandas

In [ ]:
x_df = pd.DataFrame({'A':['John','ex1','ex2','Joe','qz1','qz2','qz3'],
                 'val1':[ '',10,5,'',80,10,10],
                  'val2':[ '',20,6,'',90,10,1],
                  'val3':[ '',30,7,'',100,10,0]})
#x_df.loc[:,'val1':'val3'].apply(lambda row: row == '').any(1) 

#x_df.filter(like='val').ne('').any(1)

s = x_df.filter(like='val').ne('').any(1)
x_df['A'].mask(s)
# mask(s) selects the empty rows
x_df['name'] = x_df['A'].mask(s).ffill()
x_df
# filter
x_df[s]

# `df.index`

* https://stackoverflow.com/questions/57121550/finding-the-best-match-for-similar-texts-and-keeping-only-unique-values

In [ ]:
data = {"Project_Name": ["Hilton International", "Hilton International A"]}
df2 = pd.DataFrame(data)
df2.index = range(552, 554)
for i in df2.index:
    df2.loc[[i]]["Project_Name"]

#df2.loc[[553]] = "Hilton International"

# `df.apply` `lambda`
https://stackoverflow.com/questions/57551081/elegant-way-to-format-datetime-values-without-using-datetime-functions-in-pandas#57551081

In [ ]:
import datetime
def str2time(x):
    try:
        return datetime.datetime.strptime(x, '%m/%d/%Y %H:%M:%S %p')
    except:
        return pd.NaT
df1_new['obs_date'] = df1_new['obs_date'].apply(str2time)
print(df1_new)

In [ ]:
df = pd.DataFrame({'Month':[1,1,2,2], 'Year':[2013, 2013, 2013, 2013]})
#print(df.to_string(index=False))
df['Date'] =  df.apply(lambda row: '1' + '/' + str(row.Month) + '/'+ str(row.Year), axis = 1)
print(df.to_string(index=False))

In [ ]:
import itertools
from haversine import haversine
x = {'city':['AUSTRALIAN NATIONAL UNIVERSITY', 'BARTON', 'DARWIN', 'DARWIN', 'PARAP', 'ALAWA', 'BRINKIN', 'CASUARINA', 'JINGILI', 'LEE_POINT' ]}
la = {'Latitude':[-35.277272,-35.201372, -12.801028 , -12.801028, -12.432181, -12.378451, -12.367769, -12.376597, -12.385761, -12.360865]}
lo = {'Longitude':[149.117136,149.095065, 130.955789 , 130.955789, 130.843310,  130.877014, 130.869808, 130.850489, 130.873726, 130.891349]}
data = {**x, **la, **lo}
df = pd.DataFrame(data)
df = df.drop_duplicates()
city = list(df["city"])
TwoCity = list(itertools.combinations(city, 2))
df1 = pd.DataFrame({'TwoCity':TwoCity})
#df['Date'] =  df.apply(lambda row: '1' + '/' + str(row.Month) + '/'+ str(row.Year), axis = 1)
df1['Distance'] = df1.apply(lambda row: \
          haversine((df[df['city']==row.TwoCity[0]]['Latitude'], df[df['city']==row.TwoCity[0]]['Longitude']),\
                    (df[df['city']==row.TwoCity[1]]['Latitude'], df[df['city']==row.TwoCity[1]]['Longitude'])),axis=1)

In [ ]:
data = {'description': ['XG154LU', '4562689', '556', 'LE896E', '65KKL4']}
def convert(v):
    if any([char.isalpha() for char in v]):
        va = [char for char in v if char.isalpha()]
        va = ''.join(va)
        return va
    else:
        return v
    
df = pd.DataFrame(data)
print(df)
df['description'] = df['description'].apply(convert)
print(df)

https://stackoverflow.com/questions/57789813/how-to-avoid-20-if-statements-when-applying-function-to-pandas-based-on-a-city/57790298#57789813

In [ ]:
df = pd.DataFrame({
    'name': ['jim', 'jon'],
    'city': ['new york', ''],
    'county': ['', 'los angeles']
})

df['region'] = df['city'] + df['county']
table = {
    'new york': 'abc123',
    'chicago': 'abc124',
    'los angeles': 'abc125',
    'miami': 'abc126'
}
df['region'] = df.region.apply(lambda row: table[row])
print(df)

## `df.applymap`

https://stackoverflow.com/questions/57517483/how-to-select-rows-within-two-dates-in-a-pandas-dataframe#57517527

In [ ]:
df = pd.DataFrame({'col1':['xxx;#2;yyy','aaa;#3;bbbccc '],'col2':['zzz;#46;zyzcz','bbbb;cccc;dd#5'  ]})
def cleanDigit(row):
    replacements = [('\d', ''), ('#', ''), (';;', ';')]
    for (old, new) in replacements:
        row = re.sub(old, new, row)
    return row
df[['col1', 'col2']] = df[['col1', 'col2']].applymap(cleanDigit)
df

In [ ]:
from itertools import chain
df5 = pd.DataFrame({'text':[[['some','string'],['yes']],[['hello','how','are','u'],['fine','thanks']]],
               'names':[[['chris'],['peter','kate']],[['steve','john'],['kyle','eric']]]})

print(df5.applymap(lambda x: list(chain.from_iterable(x))))

In [ ]:
list(chain.from_iterable([['some','string', ['ok', ['okk']]],['yes']]))

# `df.map`

https://stackoverflow.com/questions/57107125/remove-duplicates-from-python-dataframe-list#57107125

In [ ]:
f = lambda x: list(dict.fromkeys(ast.literal_eval(x)))
df['newlist'] = df['text_lemmatized'].map(f)

# df.col_name.str

## extract

In [ ]:
# implement it with pandas 
raw_data = {'ID': [1,2,3,4,5,6,7,8,9,10], 'body': ['FITrnXS$100', '$1000rnReason', 'rnIf', 'bevlauedrnrnnext', 'obccrnrnnoncrnrnactionrn', 'rnrnnotification', 'insdrnrnnon', 'rnrnupdated', 'rnreason', 'rnrnrnLOR']}
remove_string =['rn', 'rnr', 'rnrn', 'rnrnrn']
df = pd.DataFrame(raw_data, columns = ['ID', 'body', 'cleaned_txt', 'Removed_string'])
df 
df['cleaned_txt'], df['Removed_string'] = df['body'], df['body']
for i in remove_string[::-1]:
    df['cleaned_txt'] = df['cleaned_txt'].str.replace(i, ' ')
    df[i] = df['Removed_string'].str.extract('({})'.format(i)) 

df['Removed_string'] = df[remove_string].ffill(axis=1).iloc[:, -1]
df = df.drop(remove_string, axis=1)
print (df)

In [ ]:
# Implement it in original data 👌
raw_data = {'ID': [1,2,3,4,5,6,7,8,9,10], 
        'body': ['FITrnXS$100', '$1000rnReason', 'rnIf', 'bevlauedrnrnnext', 'obccrnrnnoncrnrnactionrn', 'rnrnnotification', 'insdrnrnnon', 'rnrnupdated', 'rnreason', 'rnrnrnLOR']}
removed_string =['rn', 'rnr', 'rnrn', 'rnrnrn']
removed_string =  removed_string[::-1]

raw_data['Removed_string'] = []
raw_data['cleaned_txt'] = []
for i in raw_data['body']:
    j = 0
    m = removed_string[j]
    while True:
        m = removed_string[j]
        pattern = re.compile(m)
        n = pattern.findall(i)
        if len(n) != 0: 
            raw_data['cleaned_txt'].append(i.replace(m, ' '))
            raw_data['Removed_string'].append(m)
            break
        j += 1
df = pd.DataFrame(raw_data, columns = ['ID', 'body', 'cleaned_txt', 'Removed_string'])
print(df)

## len().value_count()

In [ ]:
df = pd.DataFrame({"id":["a", "b", "aa", "aaa", "bbb", "a"]})
df.id.str.len().value_counts()

# Merge  drop duplication 
https://stackoverflow.com/questions/57406428/pandas-merge-df-many-to-many-without-duplicates/57406653#57406653

In [ ]:
data_dic = {
    "a": [0,0,1,2],
    "b": [3,3,4,5],
    "c": [6,7,8,9]
}
df1 = pd.DataFrame(data_dic)

data_dic = {
    "a": [0,0,1,2],
    "b": [3,3,4,5],
    "d": [10,10,12,13]
}
df2 = pd.DataFrame(data_dic)


df3 = pd.merge(df1, df2, how='inner', on=['a', 'b']).drop_duplicates()
df3

In [ ]:
print(pd.concat([df1, df2], axis=1).T.drop_duplicates().T)

https://stackoverflow.com/questions/57604212/how-to-split-a-list-of-dictionaries-into-multiple-columns-keeping-the-same-index

# `df.explode`

https://stackoverflow.com/questions/53218931/how-to-unnest-explode-a-column-in-a-pandas-dataframe

In [ ]:
raw_data = {'score': [1,2,3], 
        'tags': [['apple','pear','guava'],['truck','car','plane'],['cat','dog','mouse']]}
df = pd.DataFrame(raw_data, columns = ['score', 'tags'])
df

In [ ]:
k = []
for i in raw_data['tags']:
    for j in i:
        k.append(j )
k 
raw_data['tags'] = k 
raw_data

# Splitting dictionary or list inside a column into separate columns

https://stackoverflow.com/questions/57800262/convert-a-column-with-a-list-of-dicts-where-column-name-and-value-are-both-pres/57800449?noredirect=1#comment102033530_57800449

In [ ]:
data = {'col1':100, 'col2': 200, 'col3': [{'attribute': 'Pattern', 'value': 'Printed'},
 {'attribute': 'Topwear style', 'value': 'T shirt'},
 {'attribute': 'Bottomwear Length', 'value': 'Short'},
 {'attribute': 'Colour Palette', 'value': 'Bright colours'},
 {'attribute': 'Bottomwear style', 'value': 'Baggy'},
 {'attribute': 'Topwear length', 'value': 'Waist'},
 {'attribute': 'Sleeve style', 'value': 'Sleeveless'},
 {'attribute': 'Type of pattern', 'value': 'Graphic print'},
 {'attribute': 'Neck', 'value': 'Round'},
 {'attribute': 'Level of embellishment', 'value': 'No'}]}

df = pd.DataFrame(data)
x = df['col3'].tolist()
newcol = {item['attribute'] : [item['value']] for item in x }
newdf = pd.DataFrame(newcol)
del df['col3'] 
print(df.join(newdf, how='right'))

# `groupby`

* https://www.geeksforgeeks.org/adding-new-column-to-existing-dataframe-in-pandas/

```md
datetime               transmission #
2019-07-12 00:03:06    124
2019-07-12 00:04:56    124
2019-07-12 00:20:10    125
2019-07-12 00:21:33    125
```

In [ ]:
data = [{'testid': 'testid_1', 'value':15},
{'testid': 'testid_1', 'value':15},
{'testid': 'testid_1', 'value':20},
{'testid': 'testid_1', 'value':20},
{'testid': 'testid_1', 'value':15},
{'testid': 'testid_1', 'value':15},
{'testid': 'testid_2', 'value':215},
{'testid': 'testid_2', 'value':215},
{'testid': 'testid_3', 'value':215},
{'testid': 'testid_3', 'value':69},
{'testid': 'testid_3', 'value':215}]

df = pd.DataFrame(data) 
df 
df['newid']=df.groupby('testid').value.apply(lambda x : x.diff().ne(0).cumsum()) 
df

https://stackoverflow.com/questions/57802242/python-group-by-column-and-select-by-hierarchy#57802362

In [ ]:
data = {'col-a':[1,1,1,2,2,3,3],'col-b': [None, 'Failed', 'Passed', 'None', 'Passed', 'Inconclusive', 'Passed']}
df = pd.DataFrame(data)

d = {'Failed':0,'Inconclusive':1, 'Passed':2, None: 3}
df['new'] = df['col-b'].map(d)
df = df.sort_values(['col-a', 'new']).drop_duplicates('col-a').drop('new', 1)
print (df)

https://stackoverflow.com/questions/57829530/how-to-split-the-csv-based-on-multiple-columns#57829530

In [ ]:

data = {
    'Header1': ['Alpha', 'Alpha', 'Beta', 'Beta', 'Beta', 'Gamma'],
    'Header2': [
        'energy', 'energy', 'energy_imbalance', 'energy', 'energy',
        'energy_imbalance'
    ],
    'Header3': [0.1, 0.34, 0.66, 0.7, 0.1, 0.3]
}

df = pd.DataFrame(data)
df 

list(df.groupby(['Header1','Header2']))[0]

# `diff`

In [ ]:
s = pd.Series([11,15,22,27,36,69,77])
s.diff().fillna(s)

## `pd.Series.dt.total_seconds`

https://stackoverflow.com/questions/57814695/formating-time-difference-in-dataframe-python

In [ ]:
data = {'request':['REQ0079455','REQ0079455'] ,'Req_Created':['15/05/2019  16:51', '15/05/2019 16:51'], 'Req_Closed': ['23/05/2019 20:53','23/05/2019 20:53']   
}     
df = pd.DataFrame(data)
df 

df['Req_time_taken'] = pd.to_datetime(df['Req_Closed'], format ='%d/%m/%Y %H:%M') - pd.to_datetime(df['Req_Created'], format ='%d/%m/%Y %H:%M')

In [ ]:
df['Req_time_taken'].dt.total_seconds().apply(lambda x: '%s hours %s minutes' % (x//3600, x%3600/60))

https://stackoverflow.com/questions/57822431/duplicate-rows-in-a-value-range-of-a-dataframe#57822485

## `df.index.`

In [ ]:
data = {
    'A.low': [1, 1, 2],
    'A.up': [3, 2, 4],
    'B': [1, 2, 1],
    'C': ['D', 'E', 'E']
}
df = pd.DataFrame(data, )
df

# regex

In [ ]:
data = pd.DataFrame({"col1" : ["a", "b", "z","w", "g", "p", "f"], "col2" : 
["010", "030","500","333","090","050","111"]})
data['col2'] = data['col2'].apply(lambda x:re.sub(r"^0", '', x))
print(data)

https://stackoverflow.com/questions/57509388/how-to-extract-value-from-an-array-based-on-condition-in-pandas-or-numpy#57509518

In [ ]:
data = {'Bird':['Parrot','Eagle','Seagull'],'Color':[['Light_Blue','Green','Dark_Blue'],['Sky_Blue','Black','White', 'Yellow','Gray'],['White','Jet_Blue','Pink', 'Tan','Brown', 'Purple']]}
df =pd.DataFrame( data) 
df["Blue"]=df.Color.apply(lambda x: [v for v in x if "Blue" not in v])
df

https://stackoverflow.com/questions/57549300/extract-limited-set-of-date-patterns

In [ ]:
import re 
data = pd.DataFrame({"col1" : ["a", "b", "z","w", "g", "p", "f"], "col2" : 
["010", "030","500","333","090","050","111"]})
data.head(2)

pattern =  re.compile(r'^0+')
for i, v in enumerate(data["col2"]):
    data["col2"][i]=pattern.sub("", v)  
print(data)

In [ ]:
data = {'color':[['Light_Blue','Green','Dark_Blue'], ['Sky_Blue','Black','White', 'Yellow','Gray'],['White','Jet_Blue','Pink', 'Tan','Brown', 'Purple']]}
df = pd.DataFrame(data)

[[i for i in r if not i.endswith(tuple(['_Blue', '_']))] for r in df.color]

https://stackoverflow.com/questions/57808480/how-to-apply-the-regex-on-pandas-dataframe-column-having-string-representation-o#57808565

In [ ]:
df.color.apply(lambda row: [x for x in row if not x.endswith(tuple(['_Blue', '_']))])

# Datetime range

* https://stackoverflow.com/questions/57263555/dataframe-resample-does-not-include-last-datam

In [ ]:
pd.date_range(start='2020-01-01',  periods=12, freq='M')

In [ ]:
df = pd.DataFrame({'Date':['2020-01-01', '2021-01-01', '2022-01-01', '2023-01-01'],\
                   'Value':[1.248310e+06, 1.259511e+06, 1.276312e+06,1.298714e+06]})

In [ ]:
index = pd.date_range('1/1/2020', periods=4, freq='YS')
series = pd.Series([1.248310e+06, 1.259511e+06, 1.276312e+06, 1.298714e+06], index=index)
series2 = pd.Series(1.298714e+06, pd.date_range('12/1/2023', periods=1))
series = series.append(series2)
down_sampling = series.resample('MS').ffill()
down_sampling

* https://stackoverflow.com/questions/57507399/how-to-divide-60-mins-datapoints-into-15-mins#57507518

In [ ]:
df = pd.DataFrame({'Time' :['2016-01-01 00:00:00','2016-01-01 01:00:00','2016-01-01 02:00:00 '], 'A':[1,5,13]})
df

In [ ]:
index = pd.date_range('2016-01-01 00:00:00', periods=4, freq='15min')

In [ ]:
df = pd.DataFrame({
    'Time': ["2016-01-01 00:00:00", "2016-01-01 01:00:00", "2016-01-01 02:00:00"],
    'A': [1 , 5, 13]
})
df['Time'] = pd.to_datetime(df['Time'])
new_idx = pd.DatetimeIndex(start=df['Time'].iloc[0], end=df['Time'].iloc[-1], freq='15min')
df2 = df.set_index('Time').reindex(new_idx).interpolate().reset_index()
df2.rename(columns={'index': 'Time'}, inplace=True)
df2['A'] = df2['A'].round().astype(int)
print(df2)

In [ ]:
df = pd.DataFrame()
df['temp'] = pd.date_range(start='01-Jan-2000', end='31-Dec-2018', freq='MS')  
df['value'] = 5
df.set_index('temp', inplace=True)
df['days_in_month'] = df.index.daysinmonth 
df.head(10)

# How to save styled pandas DataFrame

In [ ]:
name = ['Diego', 'Luis', 'Vidal', 'John', 'Yusef']
id = ['b000000005', 'b000000015', 'b000000002', 'b000000011', 'b000000013']
cel = [7878, 6464, 1100, 4545, 1717]
date = pd.to_datetime(['2017-05-31 20:53:00', '2017-05-11 20:53:00', '2017-05-08 20:53:00', 
                       '2017-06-06 20:53:00', '2017-06-06 20:53:00'])

df = pd.DataFrame({'Name':name,'ID':id,'Cel':cel,'Date':date})

def color(val):
    if val < datetime.now():
        color = 'green'
    elif val > datetime.now():
        color = 'yellow'
    elif val > (datetime.now() + timedelta(days=60)):
        color = 'red'
    return 'background-color: %s' % color

df = df.style.applymap(color, subset=['Date'])
# https://mode.com/example-gallery/python_dataframe_styling/

In [ ]:
df.style.apply(borders)

In [ ]:
df_html = df.render()

In [ ]:
with open('DataFrame.html', 'a') as f:
    f.write(df.render() )

In [ ]:
from IPython.display import display
display(df)

In [ ]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>