In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
import re
import calendar

# Pandas DataFrame

<span style="font-family: New York Times; font-size: 1em; color: green;">
    
The most important part of the Pandas library is the DataFrame. A DataFrame holds the type of data you might think of as a table. This is similar to a sheet in Excel, or a table in a SQL database. 

Want to know the basic usage look like this?

* [pandas source](https://github.com/pandas-dev/pandas)
* [19 Essential Snippets in Pandas](https://jeffdelaney.me/blog/useful-snippets-in-pandas/)
* https://towardsdatascience.com/pandas-dataframe-a-lightweight-intro-680e3a212b96

In [ ]:
dict = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 171.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }

import pandas as pd
brics = pd.DataFrame(dict)

In [ ]:
brics["country"]

In [ ]:
brics["Articatic"]=["Sourth America", "Europe", "Sourth Asia", "East Asia","Sourth Africa"]

In [ ]:
brics

In [ ]:
brics.sort_values("country", ascending = True)

In [ ]:
brics.sort_values("population", ascending = True)

In [ ]:
brics['country'].nunique()

In [ ]:
from pandas.io.json import json_normalize
data = [{'id': 1, 'name': {'first': 'Coleen', 'last': 'Volk'}},\
        {'name': {'given': 'Mose', 'family': 'Regner'}},\
        {'id': 2, 'name': 'Faye Raker'}]
json_normalize(data)

# Convert nested JSON into pandas dataframe

# convert `csv` to `json`

In [ ]:
csv_file = pd.DataFrame(pd.read_csv("path/to/file.csv", sep = ",", header = 0, index_col = False))
csv_file.to_json("/path/to/new/file.json", orient = "records", date_format = "epoch", double_precision = 10, force_ascii = True, date_unit = "ms", default_handler = None)

In [ ]:
m=['paketone8000.dump.xlsx','paketone4000.dump.xlsx','paketone1400000.dump.xlsx']

In [ ]:
[int(pattern.findall(i)[0]) for i in m]

In [ ]:
import re

In [ ]:
m[0]

In [ ]:
pattern = re.compile(r"\d+")
pattern.match(m[0])
pattern.findall(m[0])

In [ ]:

[pattern.findall(i)[0] for i in m]
sorted([int(pattern.findall(i)[0]) for i in m])

# Sort file in order

In [ ]:
import re
pattern = re.compile(r"\d+")
m=['paketone41000.dump.xlsx','paketone8000.dump.xlsx','paketone1400000.dump.xlsx']
sorted(m, key = lambda m :  int(pattern.findall(m)[0]) )

In [ ]:
sorted(m, key=)

In [ ]:
import random 

x = [[random.randint(2, 20) for _ in range(10)] for _ in range(3)]
x 
x[0]
x[1]
x[2]

In [ ]:
max(x[0][0], x[1][0],x[2][0])

In [ ]:
m = [x[0],x[1],x[2]]
[max(i) for i in zip(*m)]

In [ ]:
raw_data = {'ID': [1,2,3,4,5,6,7,8,9,10], 
        'body': ['FITrnXS$100', '$1000rnReason', 'rnIf', 'bevlauedrnrnnext', 'obccrnrnnoncrnrnactionrn', 'rnrnnotification', 'insdrnrnnon', 'rnrnupdated', 'rnreason', 'rnrnrnLOR']}
df = pd.DataFrame(raw_data, columns = ['ID', 'body'])
print(df)

# Replace characters in table

In [ ]:
# implement it with pandas 
raw_data = {'ID': [1,2,3,4,5,6,7,8,9,10], 
        'body': ['FITrnXS$100', '$1000rnReason', 'rnIf', 'bevlauedrnrnnext', 'obccrnrnnoncrnrnactionrn', 'rnrnnotification', 'insdrnrnnon', 'rnrnupdated', 'rnreason', 'rnrnrnLOR']}
remove_string =['rn', 'rnr', 'rnrn', 'rnrnrn']
df = pd.DataFrame(raw_data, columns = ['ID', 'body', 'cleaned_txt', 'Removed_string'])

df['cleaned_txt'], df['Removed_string'] = df['body'], df['body']
for i in remove_string[::-1]:
    df['cleaned_txt'] = df['cleaned_txt'].str.replace(i, ' ')
    df[i] = df['Removed_string'].str.extract('({})'.format(i)) 

df['Removed_string'] = df[remove_string].ffill(axis=1).iloc[:, -1]
df = df.drop(remove_string, axis=1)
print (df)

In [ ]:
# Implement it in original data ðŸ‘Œ
raw_data = {'ID': [1,2,3,4,5,6,7,8,9,10], 
        'body': ['FITrnXS$100', '$1000rnReason', 'rnIf', 'bevlauedrnrnnext', 'obccrnrnnoncrnrnactionrn', 'rnrnnotification', 'insdrnrnnon', 'rnrnupdated', 'rnreason', 'rnrnrnLOR']}
removed_string =['rn', 'rnr', 'rnrn', 'rnrnrn']
removed_string =  removed_string[::-1]

raw_data['Removed_string'] = []
raw_data['cleaned_txt'] = []
for i in raw_data['body']:
    j = 0
    m = removed_string[j]
    while True:
        m = removed_string[j]
        pattern = re.compile(m)
        n = pattern.findall(i)
        if len(n) != 0: 
            raw_data['cleaned_txt'].append(i.replace(m, ' '))
            raw_data['Removed_string'].append(m)
            break
        j += 1
df = pd.DataFrame(raw_data, columns = ['ID', 'body', 'cleaned_txt', 'Removed_string'])
print(df)

## Break out of while loop

In [ ]:
x = [1, 3, 5, 6] 
y = x[0]
j = 0
while  True:
    if y > 4:
        break
    j +=1
    y = x[j]   
y

# Add a new column depending on the other column

In [ ]:
df = pd.DataFrame()
df['temp'] = pd.date_range(start='01-Jan-2000', end='31-Dec-2018', freq='MS')  
df['value'] = 5
df.set_index('temp', inplace=True)

days_list = []
for val in df.index:
    days_list.append(calendar.monthrange(val.year, val.month)[1])

df['days_in_month'] = days_list
df

In [ ]:
df = pd.DataFrame()
df['temp'] = pd.date_range(start='01-Jan-2000', end='31-Dec-2018', freq='MS')  
df['value'] = 5
df.set_index('temp', inplace=True)

for val in df.index:
    df['days_in_month'] = df.index.map(lambda val: calendar.monthrange(val.year, val.month)[1])
    
df

In [ ]:
df = pd.DataFrame()
df['temp'] = pd.date_range(start='01-Jan-2000', end='31-Dec-2018', freq='MS')  
df['value'] = 5
df.set_index('temp', inplace=True)
df['days_in_month'] = df.index.daysinmonth 
df

# Read in a table

In [19]:
import copy

In [15]:
!cat a.txt

    startdate   enddate
0   14-02-2019  18-07-2022
1   30-12-2017  31-10-2025
2   01-02-2010  21-03-2020

In [16]:
df1 = pd.read_table('a.txt', delim_whitespace=True, skiprows=0, skipfooter=0, index_col=0)

In [17]:
df1

    startdate     enddate
0  14-02-2019  18-07-2022
1  30-12-2017  31-10-2025
2  01-02-2010  21-03-2020

In [20]:
temp_row = copy.deepcopy(df1.loc[0]) # for the first row

In [21]:
temp_row

startdate    14-02-2019
enddate      18-07-2022
Name: 0, dtype: object

# How to unnest (explode) a column in a pandas DataFrame?
https://stackoverflow.com/questions/53218931/how-to-unnest-explode-a-column-in-a-pandas-dataframe

In [22]:
raw_data = {'score': [1,2,3], 
        'tags': [['apple','pear','guava'],['truck','car','plane'],['cat','dog','mouse']]}

df = pd.DataFrame(raw_data, columns = ['score', 'tags'])

df

   score                  tags
0      1  [apple, pear, guava]
1      2   [truck, car, plane]
2      3     [cat, dog, mouse]

['cat', 'cat', 'cat', 'dog', 'dog', 'dog', 'mouse', 'mouse', 'mouse']

In [41]:
k = []
for i in raw_data['tags']:
    for j in i:
        k.append(j )
k 
raw_data['tags'] = k 
raw_data

['apple', 'pear', 'guava', 'truck', 'car', 'plane', 'cat', 'dog', 'mouse']

{'score': [1, 2, 3],
 'tags': ['apple',
  'pear',
  'guava',
  'truck',
  'car',
  'plane',
  'cat',
  'dog',
  'mouse']}

In [60]:
import json
import urllib.request, urllib.error, urllib.parse
from distutils.version import StrictVersion


def versions(package_name):
    url = "https://pypi.python.org/pypi/%s/json" % (package_name, )
    data = json.load(urllib.request.urlopen(urllib.request.Request(url)))
    versions = list(data["releases"].keys())
    #versions.sort(key=StrictVersion)
    for i in versions:
        versions = max()
    return versions


print(versions("scikit-image"))

['0.10.0', '0.10.1', '0.11.2', '0.11.3', '0.12.0', '0.12.1', '0.12.2', '0.12.3', '0.12.dev0', '0.13.0', '0.13.1', '0.14.0', '0.14.1', '0.14.2', '0.14.3', '0.15.0', '0.7.2', '0.8.0', '0.8.1', '0.8.2', '0.9.0', '0.9.1', '0.9.2', '0.9.3']

In [49]:
sorted(['0.10.0', '0.10.1', '0.11.2', '0.11.3', '0.12.0', '0.12.1', '0.12.2', '0.12.3', '0.12.dev0', '0.13.0', '0.13.1', '0.14.0', '0.14.1', '0.14.2', '0.14.3', '0.15.0', '0.7.2', '0.8.0', '0.8.1', '0.8.2', '0.9.0', '0.9.1', '0.9.2', '0.9.3'])

['0.10.0',
 '0.10.1',
 '0.11.2',
 '0.11.3',
 '0.12.0',
 '0.12.1',
 '0.12.2',
 '0.12.3',
 '0.12.dev0',
 '0.13.0',
 '0.13.1',
 '0.14.0',
 '0.14.1',
 '0.14.2',
 '0.14.3',
 '0.15.0',
 '0.7.2',
 '0.8.0',
 '0.8.1',
 '0.8.2',
 '0.9.0',
 '0.9.1',
 '0.9.2',
 '0.9.3']

In [52]:
'0.10.1'.split('.')[0]

'0'

In [55]:

sorted(['0','o','dev'], reverse=True)

['o', 'dev', '0']

In [62]:
versions=['0.10.0', '0.10.1', '0.11.2', '0.11.3', '0.12.0', '0.12.1', '0.12.2', '0.12.3', '0.12.dev0', '0.13.0', '0.13.1', '0.14.0', '0.14.1', '0.14.2', '0.14.3', '0.15.0', '0.7.2', '0.8.0', '0.8.1', '0.8.2', '0.9.0', '0.9.1', '0.9.2', '0.9.3']

In [71]:
verionssplit = [[versions[i].split('.')[j] for i in range(len(versions))] for j in range(3)]

In [72]:
!cat sample.txt

0.751491727533 2.798113439302 4.068138343604 17.569424700243 32.742568351020 23.357022526269 23.131132464710 9.801858358417 1.490128686136 0.034301546746 0.001143059877 0.000636652547 0.000168888218 0.000133326873 0.000084786511 0.000089979358 0.000030828024 0.000017362478 0.000029940019 0.000039300678 0.003981311612 0.656842216442

In [89]:
a_list = []
with open("sample.txt") as f:
    for line in f.readlines():
        for entry in line.split(" "):
            a_list.append(entry)

In [92]:
float(a_list[1])
float(a_list[-1])

2.798113439302

ValueError: could not convert string to float:

In [95]:
a_list = []
with open("sample.txt") as f:
    for line in f.readlines():
        for entry in line.split(" "):
            a_list.append(entry)


for entry in a_list[:-2]:
    print("%.12f" % float(entry))
print("list length is " + str(len(a_list)))
print(a_list[0])

0.751491727533
2.798113439302
4.068138343604
17.569424700243
32.742568351020
23.357022526269
23.131132464710
9.801858358417
1.490128686136
0.034301546746
0.001143059877
0.000636652547
0.000168888218
0.000133326873
0.000084786511
0.000089979358
0.000030828024
0.000017362478
0.000029940019
0.000039300678
0.003981311612
list length is 23
0.751491727533