In [1]:
import pandas as pd 
import numpy as np

## Pandas

<span style="font-family: New York Times; font-size: 1em; color: green;">
    
The most important part of the Pandas library is the DataFrame. A DataFrame holds the type of data you might think of as a table. This is similar to a sheet in Excel, or a table in a SQL database. 

Want to know the basic usage look like this?

* [pandas source](https://github.com/pandas-dev/pandas)
* [19 Essential Snippets in Pandas](https://jeffdelaney.me/blog/useful-snippets-in-pandas/)
* https://towardsdatascience.com/pandas-dataframe-a-lightweight-intro-680e3a212b96

In [1]:
dict = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 171.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }

import pandas as pd
brics = pd.DataFrame(dict)

In [2]:
brics["country"]

0          Brazil
1          Russia
2           India
3           China
4    South Africa
Name: country, dtype: object

In [3]:
brics["Articatic"]=["Sourth America", "Europe", "Sourth Asia", "East Asia","Sourth Africa"]

In [4]:
brics

        country    capital     area  population       Articatic
0        Brazil   Brasilia    8.516      200.40  Sourth America
1        Russia     Moscow  171.100      143.50          Europe
2         India  New Dehli    3.286     1252.00     Sourth Asia
3         China    Beijing    9.597     1357.00       East Asia
4  South Africa   Pretoria    1.221       52.98   Sourth Africa

In [9]:
brics.sort_values("country", ascending = True)

        country    capital     area  population       Articatic
0        Brazil   Brasilia    8.516      200.40  Sourth America
3         China    Beijing    9.597     1357.00       East Asia
2         India  New Dehli    3.286     1252.00     Sourth Asia
1        Russia     Moscow  171.100      143.50          Europe
4  South Africa   Pretoria    1.221       52.98   Sourth Africa

In [10]:
brics.sort_values("population", ascending = True)

        country    capital     area  population       Articatic
4  South Africa   Pretoria    1.221       52.98   Sourth Africa
1        Russia     Moscow  171.100      143.50          Europe
0        Brazil   Brasilia    8.516      200.40  Sourth America
2         India  New Dehli    3.286     1252.00     Sourth Asia
3         China    Beijing    9.597     1357.00       East Asia

In [12]:
brics['country'].nunique()

5