In [6]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [6]:
!conda activate freevoice

CommandNotFoundError: Your shell has not been properly configured to use 'conda activate'.
To initialize your shell, run

    $ conda init <SHELL_NAME>

Currently supported shells are:
  - bash
  - fish
  - tcsh
  - xonsh
  - zsh
  - powershell

See 'conda init --help' for more information and options.

IMPORTANT: You may need to close and restart your shell after running 'conda init'.

In [1]:
import sys
print(sys.executable)

/Users/wangmiao/anaconda3/envs/freevoice/bin/python

In [3]:
!conda env list

# conda environments:
#
base                     /Users/wangmiao/anaconda3
QZone                    /Users/wangmiao/anaconda3/envs/QZone
SOTAWHAT                 /Users/wangmiao/anaconda3/envs/SOTAWHAT
django-blog              /Users/wangmiao/anaconda3/envs/django-blog
freevoice             *  /Users/wangmiao/anaconda3/envs/freevoice
pelican                  /Users/wangmiao/anaconda3/envs/pelican
py27                     /Users/wangmiao/anaconda3/envs/py27
sciblog                  /Users/wangmiao/anaconda3/envs/sciblog

In [24]:
import pymysql

http://dcm.uhcl.edu/yue/courses/csci4333/current/notes/EmbeddedSQL/IntroPythonMySQL.html

http://zetcode.com/python/pymysql/

http://www.mysqltutorial.org/mysql-is-null/

In [59]:
# Open database connection
db = pymysql.connect(host = "127.0.0.1", user = "root", password = "root", db = "classicmodels", port=8889)

In [27]:
# connect refused
! mysqladmin variables | grep socket

mysqladmin: connect to server at 'localhost' failed
error: 'Access denied for user 'wangmiao'@'localhost' (using password: NO)'

In [66]:
with db:
    cur = db.cursor()
    #call the execute() method of the cursor and execute the SQL statement.
    cur.execute("SELECT VERSION()")
    #The fetchone() method fetches the next row of a query result set, returning a single sequence
    # or None when no more data is available.
    version = cur.fetchone()
    print("Database version: {}".format(version[0]))
    cur.execute('SHOW tables FROM classicmodels')

1

Database version: 5.7.23

8

In [67]:
cur.execute("SELECT VERSION()")

1

In [85]:
cur.execute('SHOW TABLES;')
# The fetchAll() method retrieves all (remaining) rows of a query result, returning them as a sequence of sequences.
cur.fetchall()

8

(('customers',),
 ('employees',),
 ('offices',),
 ('orderdetails',),
 ('orders',),
 ('payments',),
 ('productlines',),
 ('products',))

In [86]:
instrument = '''
DESCRIBE employees;
'''
cur.execute(instrument )
cur.fetchall()

8

(('employeeNumber', 'int(11)', 'NO', 'PRI', None, ''),
 ('lastName', 'varchar(50)', 'NO', '', None, ''),
 ('firstName', 'varchar(50)', 'NO', '', None, ''),
 ('extension', 'varchar(10)', 'NO', '', None, ''),
 ('email', 'varchar(100)', 'NO', '', None, ''),
 ('officeCode', 'varchar(10)', 'NO', 'MUL', None, ''),
 ('reportsTo', 'int(11)', 'YES', 'MUL', None, ''),
 ('jobTitle', 'varchar(50)', 'NO', '', None, ''))

In [73]:
instrument = '''
SELECT 
    lastname, 
    firstname, 
    jobtitle
FROM
    employees;
'''
cur.execute(instrument )
cur.fetchall()

23

(('Murphy', 'Diane', 'President'),
 ('Patterson', 'Mary', 'VP Sales'),
 ('Firrelli', 'Jeff', 'VP Marketing'),
 ('Patterson', 'William', 'Sales Manager (APAC)'),
 ('Bondur', 'Gerard', 'Sale Manager (EMEA)'),
 ('Bow', 'Anthony', 'Sales Manager (NA)'),
 ('Jennings', 'Leslie', 'Sales Rep'),
 ('Thompson', 'Leslie', 'Sales Rep'),
 ('Firrelli', 'Julie', 'Sales Rep'),
 ('Patterson', 'Steve', 'Sales Rep'),
 ('Tseng', 'Foon Yue', 'Sales Rep'),
 ('Vanauf', 'George', 'Sales Rep'),
 ('Bondur', 'Loui', 'Sales Rep'),
 ('Hernandez', 'Gerard', 'Sales Rep'),
 ('Castillo', 'Pamela', 'Sales Rep'),
 ('Bott', 'Larry', 'Sales Rep'),
 ('Jones', 'Barry', 'Sales Rep'),
 ('Fixter', 'Andy', 'Sales Rep'),
 ('Marsh', 'Peter', 'Sales Rep'),
 ('King', 'Tom', 'Sales Rep'),
 ('Nishi', 'Mami', 'Sales Rep'),
 ('Kato', 'Yoshimi', 'Sales Rep'),
 ('Gerard', 'Martin', 'Sales Rep'))

In [87]:
instrument = '''
SELECT
    customerName,
    country,
    salesrepemployeenumber
FROM
    customers
WHERE
    salesrepemployeenumber IS NULL
ORDER BY customerName;
'''
cur.execute(instrument )
cur.fetchall()

22

(('ANG Resellers', 'Spain', None),
 ('Anton Designs, Ltd.', 'Spain', None),
 ('Asian Shopping Network, Co', 'Singapore', None),
 ('Asian Treasures, Inc.', 'Ireland', None),
 ('BG&E Collectables', 'Switzerland', None),
 ('Cramer Spezialitäten, Ltd', 'Germany', None),
 ('Der Hund Imports', 'Germany', None),
 ('Feuer Online Stores, Inc', 'Germany', None),
 ('Franken Gifts, Co', 'Germany', None),
 ('Havel & Zbyszek Co', 'Poland', None),
 ('Kommission Auto', 'Germany', None),
 ('Kremlin Collectables, Co.', 'Russia', None),
 ('Lisboa Souveniers, Inc', 'Portugal', None),
 ('Messner Shopping Network', 'Germany', None),
 ('Mit Vergnügen & Co.', 'Germany', None),
 ('Natürlich Autos', 'Germany', None),
 ('Porto Imports Co.', 'Portugal', None),
 ('Raanan Stores, Inc', 'Israel', None),
 ('SAR Distributors, Co', 'South Africa', None),
 ('Schuyler Imports', 'Netherlands', None),
 ('Stuttgart Collectable Exchange', 'Germany', None),
 ('Warburg Exchange', 'Germany', None))